.grade{
    color: rgb(22, 23, 23);
    width: 50%;    
    text-align: center;
    text-decoration: none;
    height: 505;
    border-radius: 5px;
    border-style:hidden;
    border-inline-color:salmon;
    margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.grade{
    background-color:salmon;
}